/* VARIE */
.m_top_30 {
  margin-top: 30px;
}

.m_bottom_30 {
  margin-bottom: 30px;
}


/* //VARIE */


/* HEADER */
.header_top{
  height: 70px;
  background-color: red;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  line-height: 70px;
}

.logo{
  height: 50px;
  background-color: blue;
}

.nav_link{
  height: 50px;
  background-color: blue;
}

.nav_login{
  height: 50px;
  background-color: blue;
}

/* HEADER */

/* JUMBOTRON */

.jumbo{
  margin: auto;
  padding: 30px;
}

.bg_jumbo{
  margin-top: 70px;
  max-width: 100%;
  background: rgb(4,7,138);
  background: linear-gradient(0deg, rgba(4,7,138,1) 0%, rgba(41,70,205,1) 100%);
}

.form_jumbo{
  float: right;
  margin: 30px 0;
  height: 300px;
  width: 300px;
  background-color: lightgrey;
}

/* //JUMBOTRON */

/* SEZIONE LOGHI */

#loghi {
  line-height: 3;
}

.loghi_icon {
  background-color: red;
}

/* //SEZIONE LOGHI */

/* SEZIONE DEPLOY */

.list_deploy li{
  list-style: none;
}

.list_deploy {
  width: 200px;
  background-color: green;
}

.box_deploy {
}

#m_left {
  margin-left: 90px;
}

/* //SEZIONE DEPLOY */

/* SEZIONE DESIGNED */

.bg_grey {
  background-color: lightgrey;
}

.image_designed {
  height: 300px;
  background-color: red;
  margin: auto;
}
.social_list {
  list-style: none;

}

.social_list li {
  display: inline-block;
  font-size: 18px;
  margin-right: 5px;
}

.social_list li a{
  display: inline-block;
  height: 10px;
  width: 10px;
  line-height: 10px;
  border-radius: 50%;
  border: 2px solid blue;
  font-size: 15px;
  margin-right: 5px;
  color: #fff;

}

/* //SEZIONE DESIGNED */

/* SEZIONE FEATURES */

/* SEZIONE SERVICE */

.text_white {
  color: #fff;
}

.bg_blue{
  background-color: blue;
}

.list_service li {
  display: inline-block;
  margin: 10px 0;
}

.service {
  border-bottom: 1px solid #fff;
}

.service span {
  margin-left: 20px;
}

.link_table {
  margin-left: 100px;
}

/* //SEZIONE SERVICE */

/* SEZIONE DEVELOPMENT TEAM */
/* vedi sezione design */

/* SEZIONE GET STARTED */


footer{
  background-color: #031C4E;
  padding: 50px 0;
}

.logo_footer li {
  display: inline-block;
}

.social_footer {
  margin-left: -40px;
}


.social_footer li a {
  font-size: 18px;
  margin-right: 5px;
  color: #fff;
}


/* //////* RESPONSIVE */

/* SMARTPHONE */

@media screen and (max-width: 768px) {
  #m_left {
    margin: 0;
  }
  .service span {
    margin-left: 20px;
  }

  .link_table {
    margin-left: 200px;
  }
}

@media screen and (max-width: 992px) {
  .service span {
    margin-left: 20px;
  }

  .link_table {
    margin-left: 300px;
  }
}

.link_table
