body {
  font-family: 'Roboto', sans-serif;
}

/* VARIE */
.m_top_30 {
  margin-top: 30px;
}

.m_bottom_30 {
  margin-bottom: 30px;
}

.m_left_30 {
  margin-left: 30px;
}

.m_right_30 {
  margin-right: 30px;
}


.m_top_50 {
  margin-top: 50px;
}

.m_bottom_50 {
  margin-bottom: 50px;
}

.text_white {
  color: #fff;
}


/* //VARIE */

/* TYPO */

 h1 {
   font-size: 48px;
   color: #fff;
 }

 h4 {
   font-weight: bold;
   color: #061B4E;
 }

 .box_deploy p {
   color: #5b6987;
 }

 .jumbo p {
   font-size: 18px;
   color: #fff;
 }

/* HEADER */
.header_top{
  height: 70px;
  background-color: #F3F5F9;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  line-height: 70px;
}

.logo{
  max-width: 60%;
}

.nav_link li {
  display: inline-block;
}

.nav_link li {
  font-size: 15px;
  margin-right: 10px;
}

.nav_link a {
  vertical-align: bottom;
  font-weight: bold;
  font-size: 12px;
  color: #031B4E;
}

.nav_link ul {
  padding-left: 0px;
}

.nav_login li {
  display: inline-block;
}

.nav_login li {
  font-size: 15px;
  margin-right: 10px;
}

.nav_login a {
  vertical-align: bottom;
  font-weight: bold;
  font-size: 12px;
  color: #031B4E;
}

.nav_login ul {
  padding-left: 0px;
}

.btn_login {
  border: 1px solid blue;
  padding: 5px;
  border-radius: 5px;
}

.nav_link li:hover a {
  text-decoration: none;
  color: blue;
}

.nav_login li:hover a {
  text-decoration: none;
  color: blue;
}

/* HEADER */

/* JUMBOTRON */

.jumbo{
  max-width: 1170px;
  margin: auto;
  padding: 60px;
}

.bg_jumbo{
  margin-top: 70px;
  max-width: 100%;
  background: rgb(4,7,138);
  background: linear-gradient(0deg, rgba(4,7,138,1) 0%, rgba(41,70,205,1) 100%);
}

.form_jumbo{
  float: right;
  max-height: 400px;
  max-width: 450px;
  background-color: #F3F5F9;
}

.jumbo_text {
  max-width: 80%;
}

.btn_form {
  width: 100%;
}

.form-group span, a{
  font-size: 10px;
}

form {
  padding: 10px 15px;
}

.fa-google {
  float: left;
  margin: 5px 0;
}

/* form .text_blue:last-child {
  color: blue;
} */

.text_blue {
  color: blue;
}

/* //JUMBOTRON */

/* SEZIONE LOGHI */

#loghi {
  line-height: 3;
  margin: auto;

}

.loghi_icon {
  max-height: 50px;
  margin: 20px 0;
  vertical-align: middle;
}


/* //SEZIONE LOGHI */

/* SEZIONE DEPLOY */

.list_deploy li{
  list-style: none;
  margin: 10px 0;
}
.list_deploy a {
  text-decoration: none;
  font-size: 15px;
}

.list_deploy {
  border-left: 1px solid;
  padding-left: 10px;
}

.box_deploy {
  width: 200px;
}

#m_left {
  margin-left: 90px;
}

/* //SEZIONE DEPLOY */

/* SEZIONE DESIGNED */

.wrapper_carousel {
  padding: 30px;
}

.bg_grey {
  background-color: #F3F5F9;
}

#image_designed {
  margin: auto;
  max-width: 60%;
}
.social_list {
  list-style: none;

}

.social_list li {
  display: inline-block;
  font-size: 18px;
  margin-right: 5px;
}

.social_list li a{
  display: inline-block;
  height: 10px;
  width: 10px;
  line-height: 10px;
  border-radius: 50%;
  border: 2px solid blue;
  font-size: 15px;
  margin-right: 5px;
  color: #fff;

}

/* //SEZIONE DESIGNED */

/* SEZIONE FEATURES */

/* SEZIONE SERVICE */


.bg_blue {
  background: rgb(4,7,138);
  background: linear-gradient(0deg, rgba(4,7,138,1) 0%, rgba(41,70,205,1) 100%);
}

.list_service li {
  display: inline-block;
  margin: 10px 0;
}

.service {
  border-bottom: 1px solid #fff;
}

.service span {
  margin-left: 20px;
}

.link_table {
  margin-left: 100px;
  font-size: 15px;
  color: #00d7d2;
}


/* //SEZIONE SERVICE */

/* SEZIONE DEVELOPMENT TEAM */
/* vedi sezione design */

.img_rockerbox {
  max-width: 200px;
  margin-bottom: 20px;
}

.dec_angle {
  display: inline-block;
  font-size: 25px;
  margin: 0 10px;

}

.rockerbox {
  display: inline-block;
  width: 500px;
  padding: 30px 10px;
  background-color: #fff;
  vertical-align: middle;
}



/* SEZIONE GET STARTED */

.btn_text {
  color: blue;
}

#get_started h2 {
  margin-top: 0;
}

/* SEZIONE GET STARTED */

/* FOOTER */

footer{
  background-color: #031C4E;
  padding: 50px 0;
}
footer h4 {
  color: #fff;
}

.logo_footer li {
  display: inline-block;
}

.social_footer {
  margin-left: -40px;
}


.social_footer li a {
  font-size: 18px;
  margin-right: 5px;
  color: #fff;
}

.img_log_footer {
  max-width: 30px;
  margin-bottom: 10px;
}

.link_footer li a {
  text-decoration: none;
  font-size: 12px;
  color: #fff;

}

.link_footer {
  list-style: none;
  padding-left: 0;
}


/* //////* RESPONSIVE */

/* SMARTPHONE */

@media screen and (max-width: 768px) {
  #m_left {
    margin: 0;
  }
  .service span {
    margin-left: 20px;
  }

  .link_table {
    margin-left: 200px;
  }

  .list_deploy li {
    max-width: 50px;
  }

  .list_service li {
    display: inline-block;
    margin: 1px 0;
  }

  .list_service {
    padding-left: 0;
  }
  .service span {
    margin-left: 5px;
  }

  .form_jumbo{
    float: none;
    max-height: 100%;
    max-width: 100%;
  }


}

@media screen and (max-width: 992px) {
  .service span {
    margin-left: 20px;
  }

  .link_table {
    margin-left: 300px;
  }

  .list_deploy li {
    max-width: 100px;
  }

  form {
    padding: 10px 15px;
  }

  .form_jumbo{
    max-height: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 1170px) {
  form {
    padding: 10px;
  }

  .form_jumbo{
    max-height: 100%;
    max-width: 100%;
  }

}

.link_table
